@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.calculator {
  background-color: #fff;
  height: 33rem;
  width: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-left: 43rem;
}

button {
  height: 5.5rem;
  width: 5.875rem;
  font-size: 1.5rem;
  background-color: #e3e3e3;
  cursor: pointer;
  border: none;
  margin: 1px;
}

.display {
  width: 100%;
  text-align: right;
  background-color: #848694;
  padding: 0.625rem;
  font-size: 3rem;
  height: 5.0625rem;
  color: #fff;
}

button.orange {
  background-color: #f29344;
}

.span2 {
  width: 11.75rem;
}

button:hover {
  background-color: lightyellow;
}

#navbar {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

#nav-links {
  display: flex;
  gap: 30px;
}

.link {
  text-decoration: none;
  font-size: 1.5rem;
}

#top-heading {
  font-size: 2rem;
  font-weight: 900;
}

#footer {
  display: flex;
  justify-content: center;
  padding: 4rem;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
}

h2 {
  font-size: 2.5rem;
  margin-left: 3rem;
  margin-top: 4rem;
  position: absolute;
}
