@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: purple;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.calculator {
  background-color: #fff;
  height: 33rem;
  width: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button {
  height: 5.5rem;
  width: 5.875rem;
  font-size: 1.5rem;
  background-color: #e3e3e3;
  cursor: pointer;
  border: none;
  margin: 1px;
}

.display {
  width: 100%;
  text-align: right;
  background-color: #848694;
  padding: 0.625rem;
  font-size: 3rem;
  height: 5.0625rem;
  color: #fff;
}

button.orange {
  background-color: #f29344;
}

.span2 {
  width: 11.75rem;
}

button:hover {
  background-color: lightyellow;
}
